{% extends 'layouts/default/layout.html' %}

{% load bootstrap4 %}


{% block content %}
<br>
<br>
    <h4>Recordar Contrasena</h4>

    {% if validlink %}

        <p>
            'Porvafor ingrese su contrasena dos veces para verificar que este bien.'
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">Cambiar</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            'El link de reseteo de contrasena es invalido. Porvafor resetear contrasena nuevamente.'
        </div>

    {% endif %}

{% endblock %}
