{% extends "app/layout.html" %}

{% block content %}

<div class="container bg-light">
    <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6 bg-blue">
                    <div class="card1 pb-5">
                        <div class="row"> <img src="img/logo_ferme.png" class="logo"> </div>
                        <div class="container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6661.016699375514!2d-71.69967292565126!3d-33.409988767204304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966216c7aa107dc1%3A0x7d02117abfecf56b!2sFerreter%C3%ADa!5e0!3m2!1ses!2scl!4v1619106888947!5m2!1ses!2scl" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6 py-5">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <h3 style="text-align: center;">Sobre Nosotros</h3>
                                <br>
                                <br>
                            <p>
                                FERME (Ferretería y distribuidora de materiales) nace con el fin de ofrecer soluciones en materiales de construcción que sean amigables con el presupuesto y tiempo de los clientes.
                            </p>
                            <p>
                                El paso del tiempo nos ha permitido, entre otras cosas, situarnos a la altura de las necesidades y requerimientos de nuestros clientes y hemos logrado así desarrollar mejoras en la atención del público con énfasis en la resolución de problemas y una logística de transporte para despacho a domicilio que destaca por su puntualidad en las entregas.                                                       
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
