<!doctype html>
<html lang="es">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="css\bootstrap.min.css"/>
	<title>Ferme</title>
</head>


<body>
	<div class="container bg-blue py-2">
		<div class="row">

			<div class="col-3">
				<div class="container text-white">
					<b><a class="navbar-brand text-white" href="index.html">Ferme</a></b>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>

			<DIV class="col-6">
				<form class="form-inline my-2 my-lg-0"> 
					<div class="row">

						<div class="col-10">
							<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						</div>

						<div class="col-2">
							<button class="btn btn-outline-success my-2 my-sm-0 bg-light" type="submit">Search</button>
						</div>

					</div>
				</form>
			</DIV>

			<div class="col-3">
				<div class="container text-white">
					<b><a class="navbar-brand text-white" href="login.html">Login</a></b>
					
					
				</div>
			</div>
			

		</div>

	</div>

	<div class="container text-center bg-light">
		<div class="row">

			<div class="col-4"></div>
			<div class="col-6">

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="index.html">Inicio <span class="sr-only"></span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="productos.html">Productos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">Sobre Nosotros</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contacto.html">Contacto</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-2"></div>

			</div>


		</nav>




	</div>

	<div class="container bg-light">
		<div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
			<div class="card card0 border-0">
				<div class="row d-flex">
					<div class="col-lg-6 bg-blue">
						<div class="card1 pb-5">
							<div class="row"> <img src="img/logo_ferme.png" class="logo"> </div>
							<div class="container">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6661.016699375514!2d-71.69967292565126!3d-33.409988767204304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966216c7aa107dc1%3A0x7d02117abfecf56b!2sFerreter%C3%ADa!5e0!3m2!1ses!2scl!4v1619106888947!5m2!1ses!2scl" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

							</div>
							
						</div>
					</div>
					<div class="col-lg-6 py-5">
						<div class="card2 card border-0 px-4 py-5">
							<div class="row mb-4 px-3">
								<form action="https://app.99inbound.com/e/123" method="POST" target="_blank">
									<h3 style="text-align: center;">Contactanos</h3>

									<div class="form-group">
										<label for="nombre">Nombre</label>
										<input name="nombre" type="nombre"  class="form-control" id="nombre"  required>
									</div>

									<div class="form-group">
										<label for="email">Correo Electrónico</label>
										<input name="email" type="email"  class="form-control" id="email"  required>
									</div>

									<div class="form-group">
										<label for="message">Mensaje</label>
										<textarea name="message" class="form-control" id="message" rows="5"  required></textarea>
									</div>

									<button type="submit" class="btn btn-primary float-right">Enviar</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container bg-blue py-4">
		<div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">   </small>
			<div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
		</div>
	</div>
	



	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"> </script>
</body>
</html>