{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="container bg-light">
    <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6 bg-blue PY-5">
                    <div class="card1 pb-5">
                        
                        
                        
                    </div>
                </div>
                
                <div class="col-lg-6 py-5">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <h3 style="text-align: center;">DATOS DE CONTACTO</h3>
                                <br>
                                <br>
                                <br>
                                <br>
                            <h4>
                                <ul>
                                    <li><div>+56912345678</div></li>
                                    <br>
                                    <li><div>atencionweb@ferme.cl</div></li>
                                    <br>
                                    <li><div>www.facebook.com/ferme</div></li>
                                </ul>
                            </h4>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    
</div>

{% endblock %}
