{% extends "app/layout.html" %}
{% load static %}
{% block content %}

    




<div class="container bg-light">
    <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col py-5">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            
                            <div class="container bg-light ">
                                <div class="row">
                                    
                                        <div class="container justify-content-center">
                                            <h2 style="text-align: center;">Preguntas Frecuentes</h2>
                                        </div>
                                        
                                    
                                    
                                    <div class="col">
                                        <div class="container  mx-auto">
                                            <div class="d-flex align-items-center justify-content-between py-4 results">
                                                
                                            </div>
                                            <div class="row">
                                                <h3>1. ¿CUALES SON LOS MÉTODOS DE ENTREGA?</h3> 
                                                <div class="container">
                                                    <h5>Ofrecemos 2 opciones, retiro en tienda o despacho a domicilio:
                        
                                                        <ul>
                                                            <li>Retira en nuestra sucursal</li>
                                                            <li>Despacho a domicilio (solo dentro de la comuna)</li>
                        
                                                        </ul>
                                                    </h5>
                                                </div>
                                                
                                            </div>	
                        
                                            <div class="row">
                                                <h3>2. ¿CÓMO PUEDO PAGAR?</h3>
                                                <div class="container">
                                                    <h5>
                                                        <p>
                                                            
                                                            Puedes pagar con tarjetas de débito y crédito, o mediante transferencia. El método de pago lo debes escoger en el momento del check-out.
                                                        </p>
                                                    </h5>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <h3>3. ¿CUÁLES SON LOS PLAZOS DE ENTREGA?</h3>
                                                <div class="container">
                                                    <h5>
                                                        <p>
                                                            <ul>
                                                                <li>Para retiros en la sucursal, ofrecemos entrega dentro de 24 horas. Te avisaremos vía correo o teléfono cuando tu pedido este listo para ser retirado.</li>
                                                                <li>Para despachos a domicilio, ofrecemos 2 dias hábiles.</li>
                        
                                                            </ul>
                                                            
                                                            
                                                        </p>
                                                    </h5>
                                                </div>
                                            </div>
                                            
                        
                                            
                                            
                        
                                            
                                            
                        
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                            
                            

                        
                            



                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}  