{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning">Bienvenido {{ user.username }}!</a></li>
        <li class="nav-item" role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
</form>
{% else %}
<ul class="nav navbar-nav ml-auto">
     <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning {{login_page}}" href="{% url 'login' %}">Iniciar sesión</a></li>
     <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning {{register_page}}" href="{% url 'register' %}">Registrarse</a></li>
</ul>
{% endif %}

