{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="container bg-light">
    <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6 bg-blue">
                    <div class="card1 pb-5">
                        
                        
                    </div>
                </div>
                <div class="col-lg-6 py-5">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <form action="https://app.99inbound.com/e/123" method="POST" target="_blank">
                                <h3 style="text-align: center;">INICIA SESIÓN</h3>
                                <br>
                                <br>
                                <div class="form-group">
                                    <label for="nombre">Correo Electrónico</label>
                                    <input name="correo" type="correo"  class="form-control" id="correo"  required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input name="password" type="password"  class="form-control" id="password"  required>
                                </div>
                                <br>
                                <div class="row px-3 mb-4">
									<a href="#" class="ml-auto mb-0 text-sm">Olvide mi Contraseña</a>
								</div>
								<div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Iniciar Sesión</button> </div>
								<div class="row mb-4 px-3"> <small class="font-weight-bold">No tengo una cuenta, <a href="{% url 'registro' %}" class="text-danger ">registrarme.</a></small> </div>
                                

                            </div>
                           
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
