{% extends "app/layout.html" %}
{% block content %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark border-warning border rounded-0 clean-navbar">
        <div class="container"><a class="navbar-brand border rounded-0 border-warning shadow-sm rubberBand animated logo" href="#" style="filter: blur(0px);"><em>Ferreteria Ferme</em></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Inicio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="catalog-page.html">catalogo</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="shopping-cart.html">Carro Compras</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">Acerca de ferme</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">Contactenos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning" href="login.html">Iniciar seccion</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning" href="registration.html">Registrar</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Pagina Producto</h2>
                    <p>#info#</p>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6" style="background-image: url(&quot;static/app/img/711V9f3nOZL._AC_.jpg&quot;);background-size: contain;background-repeat: space;background-position: center;"><img></div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3><br>The 18V LXT® Lithium-Ion Cordless ½” Driver-Drill.<br><br></h3>
                                    <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"></div>
                                    <div class="price">
                                        <h3>$240.990</h3><input type="number"></div><button class="btn btn-primary" type="button"><i class="icon-basket"></i>Agregar al carro</button>
                                    <div class="summary">
                                        <p><br>The Makita 18V LXT Lithium-Ion Brushless Cordless ½” Driver-Drill Kit (XFD131) is an ideal drilling and driving solution for the user who wants a drill with superior power-to-weight ratio. The XFD131 combines
                                            440 in.lbs. of Max Torque with an efficient brushless motor. For the pro user, this means more drilling and driving power, greater productivity, and fewer trips up and down the scaffolding or ladder to get to
                                            the battery charger.<br><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="description-tab" href="#description">Description</a></li>
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Reviews</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show description" role="tabpanel" id="description">
                                    <p><br>The Makita 18V LXT Lithium-Ion Brushless Cordless ½” Driver-Drill Kit (XFD131) is an ideal drilling and driving solution for the user who wants a drill with superior power-to-weight ratio. The XFD131 combines 440
                                        in.lbs. of Max Torque with an efficient brushless motor. For the pro user, this means more drilling and driving power, greater productivity, and fewer trips up and down the scaffolding or ladder to get to the battery
                                        charger.<br><br></p>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="specifications">
                                    <div class="table-responsive table-bordered">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="stat">Display</td>
                                                    <td>5.2"</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Camera</td>
                                                    <td>12MP</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">RAM</td>
                                                    <td>4GB</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">OS</td>
                                                    <td>iOS</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane active fade show" role="tabpanel" id="reviews">
                                    <div class="reviews">
                                        <div class="review-item">
                                            <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star-empty.svg"></div>
                                            <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="reviews">
                                        <div class="review-item">
                                            <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star-empty.svg"></div>
                                            <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="reviews">
                                        <div class="review-item">
                                            <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star-empty.svg"></div>
                                            <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clean-related-items">
                        <h3>Related Products</h3>
                        <div class="items">
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="static/app/img/315726.jpg" style="background-repeat: repeat;background-size: cover;width: 264px;"></a></div>
                                        <div class="related-name"><a href="#">Taladro bauker</a>
                                            <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star-half-empty.svg"><img src="static/app/img/star-empty.svg"></div>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="static/app/img/015043.jpg"></a></div>
                                        <div class="related-name"><a href="#">Taladro Bosh</a>
                                            <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star-half-empty.svg"><img src="static/app/img/star-empty.svg"></div>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="static/app/img/mwt-2981-20_xl.jpg"></a></div>
                                        <div class="related-name"><a href="#">Milwakee</a>
                                            <div class="rating"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star.svg"><img src="static/app/img/star-half-empty.svg"><img src="static/app/img/star-empty.svg"></div>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}