{% extends "app/layout.html" %}

{% block content %}

<div class="container bg-light">
    <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6 bg-blue">
                    <div class="card1 pb-5">
                        <div class="row"> <img src="" class="logo"> </div>
                        
                        
                    </div>
                </div>
                <div class="col-lg-6 py-5">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <form action="https://app.99inbound.com/e/123" method="POST" target="_blank">
                                <h3 style="text-align: center;">Registrate</h3>
                                <br>
                                <br>
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
								</div>
								<br>
								<div class="form-group">
                                    <label for="apellido">Apellido</label>
								</div>
								<br>
								<div class="form-group">
                                    <label for="direccion">Dirección</label>
								</div>
								<br>


								<div class="form-group">
									<label for="correo">Correo Electrónico</label>
                                </div>
								<br>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
								</div>
								<br>
								<div class="form-group">
                                    <label for="passwordtrue">Confirma Contraseña</label>
								</div>
								<br>
                                
								<div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Registrarme</button> </div>
								

                            </div>
                           
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
