{% extends "app/layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/bootstrap/css/catalogo.css' %}" />{% endblock %} {% block js %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %} {% block content %} {% load humanize %}

<main class="page contact-us-page">
    <div class="container bg-white">
        <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">

                    <div class="container p-5">
                        <div class="block-heading">
                            <h3 style=" color: blue;">Catalogo</h3>
                            <br>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="d-none d-md-block">
                                    <div class="filters"><input class="border rounded-0 border-warning form-control-sm" type="search" placeholder="Buscar Productos" name="buscador">
                                        <br>
                                        <br>

                                        <div class="filter-item">
                                            <h3>Categorias</h3>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">esto</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">se carga</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">con la</label></div>
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">bd</label></div>
                                        </div>
                                        <div class="filter-item">
                                            <h3></h3>
                                        </div>
                                        <div class="filter-item"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="products">
                                    <div class="row no-gutters">



                                        {% for p in productos %}



                                        <div class="col-sm-6 col-md-4">
                                            <div class="shop__thumb">
                                                <a href="#">
                                                    {% if p.foto %}
                                                    <div class="shop-thumb__img">
                                                        <img src="{{p.foto.url}}" class="img-responsive" alt="...">
                                                    </div>{% endif %}
                                                    <h5 class="shop-thumb__title">
                                                        <h4>{{p.data.nombre_producto}}</h4>
                                                    </h5>
                                                    <div class="shop-thumb__price">
                                                        <span class="shop-thumb-price"><h2>${{p.data.precio_clp | intcomma}}</h2></span>
                                                    </div>
                                                    <div class='card-footer text-center'>
                                                        <a href="" class="btn btn-success">Añadir al Carrito</a>

                                            </div>
                                            </a>
                                        </div>
                                    </div>



                                    {% endfor %}
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>



            </div>
        </div>
    </div>
</main>
{% endblock %}