{% extends 'layouts/default/layout.html' %}


{% block content %}



   
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Acerca de nosotros</h2>
                    <p style="opacity: 1;"><br>Inició sus operaciones un 2 de Mayo de 1995, formada por un grupo de ferreteros pioneros, con el objetivo de desarrollar negociaciones con los proveedores del rubro para comprar en forma centralizada.Hoy está compuesta por más
                        de 50 ferreteros con una Cadena de más de 150 locales desde Arica a Punta Arenas, entregando a sus Clientes asesoría, un amplio mix de productos, precios convenientes y atención personalizada.Chilemat SpA. aporta a cada uno de
                        sus socios en diversas áreas como: transferencia de información, remodelación de locales, capacitación, sistemas de computación, marketing, merchandising, centro de distribución, servicios de logística y transporte, planes de fidelización,
                        medios de pago, entre otros.<br><br></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4"></div>
                </div>
            </div>
        </section>
    </main>
   



{% endblock %}
