{% extends "app/layout.html" %}
{% extends 'layouts/default/layout.html' %}
{% load bootstrap4 %}

{#{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Log in' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Log in' %}</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
        </li>
    </ul>

{% endblock %}#}

{% block content %}

    <h4>Iniciar Session</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">Iniciar Seccion.</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:restore_password' %}">Olvido su contrasena.</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">Olvido su nombre de usuario.</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}">Reenviar codigo de activacion.</a>
        </li>
    </ul>

{% endblock %}














{#{% block content %}


    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><br><a href="https://onedrive.live.com/about/es-es/signin/"><span style="text-decoration: underline;">Iniciar sesin</span></a><br><br></h2>
                    <p></p>
                </div>
                <form>
                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div>
                    <div class="form-group"><label for="password">Contrasena</label><input class="form-control" type="password" id="password"></div>
                    <div class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label" for="checkbox">Recordarme</label></div>
                    
                     
                        
                        
                        </div><button class="btn btn-primary btn-block" type="submit">Iniciar sesion</button></form>
            </div>
        </section>
    </main>
{% endblock %}#}   


