



<ul class="nav navbar-nav ml-auto">
    {% if request.user.is_authenticated %}

    <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning">Bienvenido {{ user.username }}!</a></li>
    
    <li class="nav-item" role="presentation"><a href="{% url 'accounts:log_out' %}">Cerrar sesion</a></li>
</ul>

{% else %}
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning {{login_page}}" href="{% url 'accounts:log_in' %}">Iniciar sesion</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link border rounded-0 border-warning {{register_page}}" href="{% url 'accounts:sign_up' %}">Registrarse</a></li>
</ul>
{% endif %}







